## For Rust
/target
## For mac os
.DS_Store
/**/.DS_Store
## For JS npm and yarn
node_modules
/**/node_modules
.pnp.*
.yarn/*
.yarn/cache/*.zip
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
## for some test file start 
test.*